/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#main {
  width: 620px;
  margin: 0 auto;
  padding: 40px;
}

ul {
  list-style: none;
  padding: 0
}

* {
  border-radius: 2px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, .form-actions button {
  padding: 10px;
  font-size: 1rem;
}

.form-actions {
  button, input[type='submit'] {
    margin-right: 10px;
  }
}

input[type="text"] {
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px gray solid;
}

input.form-control {
  width: 100%;
  margin-bottom: 10px;
}

.list-item {
  position: relative;

  .action-list {
    display: inline;
    top: 10px;
    right: 10px;
    position: absolute;
  }

  .action-list-item {
    display: inline;
    margin-left: 10px;
    float: right;

    button {
      height: 20px;
      width: 20px;
      padding: 0;
      text-align: center;
    }
    i {
      font-size: 10px;
    }
  }
}

button, input[type='submit'] {
  cursor: pointer;
}