<!DOCTYPE html>
<html>
  <head>
    <title>QuizMaster</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="container">
      <div id="main"></div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'teacher' %>
  </body>
</html>
